@charset "utf-8";
/* リセットCSS */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
        max-width: 100%;
        vertical-align: bottom;
}
    

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* ヘッダー */
body{
    background-color: #191919;
}
.pc{
display: block !important;
}
.sp{
display: none !important;
}
.logo{
    max-width: 119.001px;
    position: absolute;
    top: 30.143px;
    left: 95.1422px;
}
h1{
    font-size: 42px;
    color: #ffffff;
    font-family: Snell Roundhand;
    line-height: 73.5px;
    position: absolute;
    top: 35.1516px;
    left:  47.798px;
}
.header_menu{
    font-size: 22px;
    color: #ffffff;
    list-style: none;
    font-family: Palatino;
    padding:0;
    /* line-height: 97px; */
    display: flex;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 50.3093px;
    left: 474.6756px;
}
.link_about{
margin-right: 81.2091px;
}
.link_work{
margin-right: 79.6473px;
}
.header_tittle{
    font-size: 84px;
    color: #ffffff;
    line-height: 97px;
    font-family: Palatino;
    font-weight: bold;
    position: absolute;
    top: 288.0243px;
    left: 219.7727px;
}
.header_word{
    font-size: 25px;
    color: #ffffff;
    line-height: 49.75px;
    position: absolute;
    left:  219.7727px;
    top: 506.3424px;
}
.header_word2{
    font-size: 14px;
    color: #ffffff;
    line-height: 21.85px;
}
.contact_img{
    max-width: 88.280px;
    position: fixed;
    bottom: 44.9706px;
    right: 55.1308px;
}
/* アバウト */
.tittle{
    font-size: 45px;
    color: #ffffff;
    line-height: 78.75px;
    text-align: center;
    font-family: Palatino;
}
.about_tittle{
    margin-top: 72.5064px;
}
.about_img{
    width: 824.716px;
    margin: 0 auto;
}
.skill_img{
    width: 824.716px;
    margin: 0 auto;
}
.love_img{
    width: 824.716px;
    margin: 0 auto;
}
.wrap_rect{
    max-width: 1000px;
    margin: 0 auto;
}
.about .rect{
    width: 25px;
    height: 25px;
    background-color: #999999;
    margin: 35.9876px;
}
.about_wrap_list{
    display: block;
}
.about_wrap_rect{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.about .wrap_rect{
    /* display: flex; */
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
}
.rect01{
    margin-left: 178.0385px;
}
.rect02{
    margin-right: 185.7085px;
}
.work_profile{
    margin: 0 auto;
}
.about_word{
    font-size: 18px;
    color: #ffffff;
    line-height: 21.6px;
    font-family: Kefa;
    font-weight: bold;
}
.about_word1{
    font-size: 41px;
    color: #ffffff;
    line-height: 71.75px;
}
.about_word2{
    font-size: 14px;
    color: #ffffff;
    line-height: 24.5px;
}
.about_word3{
    font-size: 15px;
    color: #ffffff;
    line-height: 28px;
}
.about_list{
    font-size: 20px;
    color: #ffffff;
    list-style: none;
    padding-left: 0;
    line-height: 41px;
}
.about_word4{
    font-size: 19px;
    color: #ffffff;
    line-height: 31.52px;
}
/* .wrap_profile{
    position: absolute;
    right: 41.133px; */
}
.wrap_skill{

}
.wrap_love{
    text-align: center;
}
/* ワーク */
.work_list ul{
    display: flex;
    margin-right: 21.733px;
}
.work_tittle{
    margin-top: 105.7423px;
}
.work_tittle2{
    margin-top: 198.6679px;
}
.work_list{
    margin-top: 149.7412px;
}
.work_list img{
    list-style: none;
}
.work_slider{
    margin-right: 41.4545px;
}
.work_slider_img{
    max-width: 386.374px;
}
.card{
    width: 497.7052px;
    height: auto;
    border-radius: 27.169px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 60.4621px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
    
    }
    .card_wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .card__imgframe{
    width: 100%;
    height: 559.9768px;
    /* padding-top: 56.25%; */
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
    }
    .card_img1{
        width: 245.936px;
        height: 501.551px;
        padding-top: 48.3444px;

    }
    .card_img2{
        width: 360.24px;
        height: 494.784px;
        padding-top: 48.3444px;
    }
    .card_img3{
        width: 326.04px;
        height: 494.784px;
        padding-top: 48.3444px;

    }
    .card_img4{
        width: 360.24px;
        height: 494.784px;
        padding-top: 48.3444px;
    }
    .card__textbox{
    width: 100%;
    height: 240.3716px;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
    }
    .card__textbox > * + *{
    margin-top: 10px;
    }
    .card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
    }
    .card__overviewtext{
    font-size: 12px;
    line-height: 28px;
    margin-top: 36.159px;
    font-family: 小塚ゴシック Pr6N;
    }
/* コンタクト */
.contact_tittle{
    margin-top: 85.7189px;
}
.contact_form .rect{
    width: 383.598px;
    height: 31.8701px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-right: 23.9205px;
}
.contact_form .rect2{
    width: 753.8893px;
    height: 113.9722px;
    background-color: #ffffff;
    margin: 0 auto;
}
.info{
font-size: 22px;
line-height: 38.5px;
color: #ffffff;
/* text-align: center; */
/* margin-right: 341.5953px; */
}
.contact_form .rect{
    display: flex;
    justify-content: space-between;
}

/* フッター */
.fotter{
    font-size: 12px;
    line-height: 21px;
    font-family: Palatino;
    font-weight: bold;
    color: #ffffff;
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 75.1123px;
    margin-bottom: 89.6556px;
}
.wrap_wrap{
    display: flex;
    /* justify-content: space-between; */
}
.link_soshin{
    text-align: center;
    background-color: #ffffff;
    border-radius: 25.36px;
    width: 229px;
    height: 50.7206px;
    font-size: 24px;
    line-height: 28.8px;
    font-family: 小塚ゴシック Pr6N◆;
    margin: 0 auto;
    margin-top: 48.5349px;
    padding-top: 11.8862px;
}

@media screen and (max-width:400px){
    /* ヘッダー */
    .pc{
        display: none !important;
        }
        .sp{
        display: block !important;
        width: 100%;
        }
        .header_img img{
            width: 100%;
        }
    .sp_btn span{
        width: 27px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        top: 40px;
        right: 33.169px;
    }
    .header_tittle{
        font-size: 72px;
        line-height: 76px;
        position: static;
        margin-top: -100px;
        margin-left: 34.6102px;
    }
    .header_word{
        font-size: 18px;
        line-height: 27px;
        position: absolute;
        top: 176.7652px;
        left: 38.5577px;
    }
    .header_menu{
        display: none;
    }
    .contact_img{
        display: none;
    }
    .logo{
        left: 36.5px;
        top: 38.8419px;
    }
    /* アバウト */
    .tittle{
        font-size: 34px;
        line-height: 59.5px;
        /* margin-top: 198.6679px; */
    }
    .about_wrap_rect{
        display: flex;
    }
    .wrap_rect{
        display: flex;
    }
    .about_wrap_list{
        
    }
    .about .rect{
        width: 14.168px;
        height: 15.5284px;
        background-color: #999999;
        margin: 18.5547px;
    }
    .rect01{
        display: flex;
    }
    .rect02{
        display: flex;

    }

    /* ワーク */
    .card{
        margin: 0 auto;
        margin-top: 54.6679px;
        width: 302px;
        border-radius: 16.411px;
    }
    .card__imgframe{
        height: 332.3866px;
    }
    .card_img1{
        width: 150.620px;
        height: 301px;
        padding-top: 14.4287px;
    }
    .card_img2{
        width: 230.528px;
        height: 302.650px;
        padding-top: 14.4287px;
    }
    .card_img3{
        width: 230.528px;
        height: 302.650px;
        padding-top: 14.4287px;
    }
    .card_img4{
        width: 230.528px;
        height: 302.650px;
        padding-top: 14.4287px;
    }
    .card__textbox{
        height: 151.7916px;
        padding: 0 10.2345px 0 19.3008px;
    }
    .card__titletext{
        padding-top: 20.841px;
        font-size: 18px;
    }
    .card__overviewtext{
        font-size: 10px;
        margin-top: 21.6992px;
        line-height: 19.36px;
    }
    .work_list{
        margin-top: 32.238px;
    }
    .work_slider{
        margin-right: 21.7191px;
    }
    .work_slider_img{
        max-width: 191.734px;
    }
    /* コンタクト */
    .contact_tittle{
        margin-top: 79.1701px;
    }
    .contact_form .rect{
        border-radius: 5.07px;
        width: 305px;
        height: 30px;
        margin: 0 auto;
    }
    .contact_form .rect2{
        border-radius: 5.07px;
        width: 305px;
        height: 92.594px;
        margin: 0 auto;
    }
    .info{
        font-size: 15px;
        line-height: 26.25px;
        margin-left: 40.1219px;
    }
    .wrap_wrap{
        display: block;
    }
    .link_soshin{
        font-size: 11.42px;
        width: 108.952px;
        height: 24.1316px;
        line-height: 13.7px;
        padding-top: 6.1519px;
    }
    /* フッター */
    .fotter{
        margin-bottom: 41.7664px;
        margin-top: 51.6262px;
    }
}
